@model IEnumerable<BDELog.Models.BdpfMc>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.McName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.McCell)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.McName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.McCellNavigation.CellName)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.McId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.McId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.McId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
