@model BDELog.Models.BdpfMcunit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>BdpfMcunit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitSap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitSap)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UnitMcNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UnitMcNavigation.McName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.UnitId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
